<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>ToDo</title>

    <!-- Scripts -->

    <script src="/scripts/jQuery.js"></script>
    <script src="/scripts/global.js"></script>
    <script src="/scripts/jquery.ui.touch-punch.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/scripts/jquery.ui.touch-punch.min.js"></script>
    <script src="https://use.fontawesome.com/22ab575b5e.js"></script>


    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="/styles/header.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/style.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/auth.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/todo.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/media.css"/>
</head>
