html {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 19px;
    line-height: normal;
    color: #000;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
    background-color: #eee;
    width: 100vw;
    height: 100vh;
}

body.modal-active {
    overflow: hidden;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;

    color: inherit;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.clearfix::after {
    display: table;
    clear: both;

    content: normal;
}

.center-container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    background: #ffffff80;
    padding: 30px 20px 0;
    height: 100%;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: #999 !important;
    color: #999 !important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main{overflow: hidden;height: 90%;}